resources/person-base-data-extended-service-contract/xsd/PersonBaseDataExtendedServiceTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://serviceplatformen.dk/xml/wsdl/soap11/CPR/PersonBaseDataExtended/4/"
            xmlns:tns="http://serviceplatformen.dk/xml/wsdl/soap11/CPR/PersonBaseDataExtended/4/"
            xmlns:cpr="http://serviceplatformen.dk/xml/schemas/cpr/PNR/1/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            elementFormDefault="qualified" version="1.0">

    <xsd:complexType name="persondataType">
        <xsd:annotation>
            <xsd:documentation>
                The field 'alder' is calculated as the time from 'foedselsdato' to the time
                of asking, without regard to the 'status' of the person.
                The age of the child is calculated as the time from its birthday (calculated based on 'pnr') to
                the time of asking, without regard to the 'status' of the child.
                The field 'antalboernunder18' includes only active children (status: 1, 3, 5 and 7)
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="personnummer" type="cpr:PNRType" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="gaeldendePersonnummer" type="cpr:PNRType" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="navn" type="tns:navnType" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="foedselsdato" type="tns:usikkerhedDatoType" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="foedselsregistreringsOplysninger" type="tns:foedselsregistreringOplysningerType"
                         minOccurs="0" maxOccurs="1"/>

            <xsd:element name="startdato" type="tns:usikkerhedDatoType" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="slutdato" type="tns:usikkerhedDatoType" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="alder" type="xsd:integer" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="koen" type="tns:koenType" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="antalBoernUnder18" type="xsd:integer" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="stilling" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="status" type="tns:statusType" minOccurs="0"/>
            <xsd:element name="separation" type="tns:separationType" minOccurs="0"/>
            <xsd:element name="civilstand" type="tns:civilstandType" minOccurs="0"/>
            <xsd:element name="statsborgerskab" type="tns:statsborgerskabType" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="umyndiggoerelse" type="tns:umyndiggoerelseType" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="forsvindingsdato" type="tns:usikkerhedDatoTidType" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="adressebeskyttelse" type="tns:beskyttelseType" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="vejviserbeskyttelse" type="tns:beskyttelseType" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="markedsfoeringsbeskyttelse" type="tns:beskyttelseType" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="tilmeldtNemsms" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="tilmeldtDigitalpost" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:simpleType name="koenType">
        <xsd:annotation>
            <xsd:documentation>
                K=female
                M=male
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="K"/>
            <xsd:enumeration value="M"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="statusTypeType">
        <xsd:annotation>
            <xsd:documentation>
                Status attribute:
                1 = Aktiv, bopæl i dansk folkeregister
                3 = Aktiv, speciel vejkode (9900 - 9999) i dansk folkeregister
                5 = Aktiv, bopæl i grønlandsk folkeregister
                7 = Aktiv, speciel vejkode (9900 - 9999) i grønlandsk folkeregister
                20 = Inaktiv, uden bopæl i dansk/grønlandsk folkeregister men tildelt personnummer af skattehensyn
                (kommunekoderne 0010, 0011, 0012 og 0019)
                30 = Inaktiv, anulleret personnummer
                50 = Inaktiv, slettet personnummer ved dobbeltnummer
                60 = Inaktiv, ændret personnummer ved ændring af fødselsdato og køn CPR Centrale Personregister Side 8
                af 53
                70 = Inaktiv, forsvundet
                80 = Inaktiv, udrejst
                90 = Inaktiv, død
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:int">
            <xsd:enumeration value="1"/>
            <xsd:enumeration value="3"/>
            <xsd:enumeration value="5"/>
            <xsd:enumeration value="7"/>
            <xsd:enumeration value="20"/>
            <xsd:enumeration value="30"/>
            <xsd:enumeration value="50"/>
            <xsd:enumeration value="60"/>
            <xsd:enumeration value="70"/>
            <xsd:enumeration value="80"/>
            <xsd:enumeration value="90"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="civilstandTypeType">
        <xsd:annotation>
            <xsd:documentation>
                U = Ugift
                G = Gift
                F = Fraskilt
                E = Enke/enkemand
                P = Registreret partnerskab
                O = Ophævet partnerskab
                L = Længestlevende partner
                D = Død
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="U"/>
            <xsd:enumeration value="G"/>
            <xsd:enumeration value="F"/>
            <xsd:enumeration value="E"/>
            <xsd:enumeration value="P"/>
            <xsd:enumeration value="O"/>
            <xsd:enumeration value="L"/>
            <xsd:enumeration value="D"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="navnType">
        <xsd:sequence>
            <xsd:element name="personadresseringsnavn" type="xsd:string"/>
            <xsd:element name="fornavn" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="mellemnavn" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="efternavn" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="fornavnMarkering" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="mellemnavnMarkering" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="efternavnMarkering" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="navnestartdato" type="tns:usikkerhedDatoTidType" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="adressedataType">
        <xsd:sequence>
            <xsd:element name="aktuelAdresse" type="tns:adresseType" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="udrejseoplysninger" type="tns:udrejseoplysningerType" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="kontaktAdresse" type="tns:kontaktAdresseType" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="adresseHistorik" type="tns:adresseHistorikType" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="adresseType">
        <xsd:sequence>
            <xsd:element name="kommuneCvr" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="kommunekode" type="xsd:integer" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="vejkode" type="xsd:integer" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="husnummer" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="etage" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="sidedoer" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="bygningsnummer" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="conavn" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="lokalitet" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="bynavn" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="postnummer" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="postdistrikt" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="vejnavn" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="standardadresse" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="adresseringsnavn" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="vejadresseringsnavn" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="tilflytningsdato" type="tns:usikkerhedDatoTidType" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="adr1-supladr" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="adr2-supladr" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="adr3-supladr" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="adr4-supladr" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="adr5-supladr" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="distrikter" type="tns:distrikterType" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="adresseHistorikType">
        <xsd:sequence>
            <xsd:element name="kommuneCvr" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="kommunekode" type="xsd:integer" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="vejkode" type="xsd:integer" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="husnummer" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="etage" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="sidedoer" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="bygningsnummer" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="conavn" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="lokalitet" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="bynavn" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="postnummer" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="postdistrikt" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="vejnavn" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="retFortrydMarkering" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="tilflytningsdato" type="tns:usikkerhedDatoTidType" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="fraflytningsdato" type="tns:usikkerhedDatoTidType" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="kontaktAdresseType">
        <xsd:sequence>
            <xsd:element name="kontaktAdr1" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="kontaktAdr2" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="kontaktAdr3" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="kontaktAdr4" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="kontaktAdr5" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="startdato" type="xsd:date" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="slettedato" type="xsd:date" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="udrejseoplysningerType">
        <xsd:annotation>
            <xsd:documentation>
                Field 'udrejselandekodeMyndighedsnavn' is currently stubbed
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="udrejselandekode" type="xsd:integer" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="udrejselandekodeMyndighedsnavn" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="udrejsedato" type="tns:usikkerhedDatoTidType" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="udlandsadresse1" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="udlandsadresse2" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="udlandsadresse3" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="udlandsadresse4" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="udlandsadresse5" type="xsd:string" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="distrikterType">
        <xsd:sequence>
            <xsd:element name="postnummer" type="xsd:integer" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="postdistrikt" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="byfornyelsesdistriktKode" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="byfornyelsesdistrikt" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="diversedistrikter" type="tns:diversedistrikterType" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="evakueringsdistriktKode" type="xsd:integer" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="evakueringsdistrikt" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="kirkedistriktKode" type="xsd:integer" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="kirkedistrikt" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="skoledistriktKode" type="xsd:integer" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="skoledistrikt" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="befolkningsdistriktKode" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="befolkningsdistrikt" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="socialdistriktKode" type="xsd:integer" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="socialdistrikt" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="sognedistriktKode" type="xsd:integer" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="sognedistrikt" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="valgdistriktKode" type="xsd:integer" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="valgdistrikt" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="varmedistriktKode" type="xsd:integer" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="varmedistrikt" type="xsd:string" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="diversedistrikterType">
        <xsd:sequence>
            <xsd:element name="distriktType" type="xsd:integer" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="distriktKode" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="distrikt" type="xsd:string" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="relationerType">
        <xsd:sequence>
            <xsd:element name="aegtefaelle" type="tns:personRelationType" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="barn" type="tns:barnType" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="mor" type="tns:personRelationType" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="far" type="tns:personRelationType" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="foraeldremyndighed" type="tns:foraeldremyndighedType" minOccurs="0"
                         maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="notatType">
        <xsd:sequence>
            <xsd:element name="notanr" type="xsd:integer" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="notatlinie" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="notatstartdato" type="xsd:date" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="notatslettedato" type="xsd:date" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="personRelationType">
        <xsd:choice>
            <xsd:element name="personnummer" type="cpr:PNRType"/>
            <xsd:sequence>
                <xsd:element name="foedselsdato" type="tns:usikkerhedDatoType" minOccurs="0" maxOccurs="1"/>
                <xsd:element name="navn" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            </xsd:sequence>
        </xsd:choice>
    </xsd:complexType>

    <xsd:complexType name="foraeldremyndighedType">
        <xsd:sequence>
            <xsd:element name="foraeldremyndighedtype" type="tns:foraeldremyndighedTypeType" minOccurs="1"
                         maxOccurs="1"/>
            <xsd:element name="foraeldremyndighedStartdato" type="tns:usikkerhedDatoType" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="foraeldremyndighedSletdato" type="xsd:date" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="relationPersonnummer" type="cpr:PNRType" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="relationStartdato" type="xsd:date" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="umyndiggoerelseType">
        <xsd:sequence>
            <xsd:element name="umyndiggorelseRelationType" type="tns:umyndiggorelseRelationTypeType" minOccurs="0"
                         maxOccurs="1"/>
            <xsd:element name="relationPersonnummer" type="cpr:PNRType" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="relationStartdato" type="xsd:date" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="relationVaergenavn" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="relationVaergeadresseStartdato" type="xsd:date" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="umyndiggoerelseStartdato" type="tns:usikkerhedDatoType" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="umyndiggoerelseSlettedato" type="xsd:date" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="umyndiggjort" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="relationtekst1" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="relationtekst2" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="relationtekst3" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="relationtekst4" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="relationtekst5" type="xsd:string" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:simpleType name="foraeldremyndighedTypeType">
        <xsd:annotation>
            <xsd:documentation>
                3 = Personnummer forældremyndighed mor
                4 = Personnummer forældremyndighed far
                5 = Anden indehaver 1
                6 = Anden indehaver 2
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:integer">
            <xsd:enumeration value="3"/>
            <xsd:enumeration value="4"/>
            <xsd:enumeration value="5"/>
            <xsd:enumeration value="6"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="emptyType">
        <xsd:annotation>
            <xsd:documentation>
                An element without attributes or content
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="0"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="statsborgerskabType">
        <xsd:annotation>
            <xsd:documentation>
                Field 'landekodeMyndighedsnavn' is currently stubbed
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="landekode" type="xsd:integer" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="statsborgerskabDato" type="tns:usikkerhedDatoTidType" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="landekodeMyndighedsnavn" type="xsd:string" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>

    </xsd:complexType>
    <xsd:complexType name="foedselsregistreringOplysningerType">
        <xsd:annotation>
            <xsd:documentation>
                Field 'foedselsregistreringsstedKodeMyndighedsnavn' is currently stubbed
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="foedselsregistreringsstedKode" type="xsd:integer" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="foedselsregistreringsstedKodeMyndighedsnavn" type="xsd:string" minOccurs="0"
                         maxOccurs="1"/>
            <xsd:element name="supplerendeFoedselsregistreringssted" type="xsd:string" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>

    </xsd:complexType>
    <xsd:complexType name="beskyttelseType">
        <xsd:sequence>
            <xsd:element name="startdato" type="xsd:date" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="slutdato" type="xsd:date" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="beskyttet" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:simpleType name="umyndiggorelseRelationTypeType">
        <xsd:annotation>
            <xsd:documentation>
                Værge relation type
                Værdisæt:
                0 = værge findes ikke i CPR
                1 = værge PNR findes
                2 = værge adressat findes
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:integer">
            <xsd:enumeration value="0"/>
            <xsd:enumeration value="1"/>
            <xsd:enumeration value="2"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="usikkerhedDatoType">
        <xsd:sequence>
            <xsd:element name="dato" type="xsd:date" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="usikkerhedsmarkering" type="xsd:string" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="usikkerhedDatoTidType">
        <xsd:sequence>
            <xsd:element name="dato" type="xsd:dateTime" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="usikkerhedsmarkering" type="xsd:string" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="statusType">
        <xsd:sequence>
            <xsd:element name="status" type="tns:statusTypeType" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="statusdato" type="tns:usikkerhedDatoTidType" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="civilstandType">
        <xsd:sequence>
            <xsd:element name="civilstand" type="tns:civilstandTypeType" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="civilstandsdato" type="tns:usikkerhedDatoTidType" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="separationType">
        <xsd:sequence>
            <xsd:element name="separeret" type="xsd:boolean"/>
            <xsd:element name="separationsdato" type="tns:usikkerhedDatoTidType" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="barnType">
        <xsd:sequence>
            <xsd:element name="personnummer" type="cpr:PNRType" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>