resources/sf2900/SF2900_EP_MS1-2/DistributionServiceMsgV2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:tns="http://serviceplatformen.dk/xml/wsdl/soap11/DistributionService/2/types"
            targetNamespace="http://serviceplatformen.dk/xml/wsdl/soap11/DistributionService/2/types"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            elementFormDefault="qualified"
            version="1.0">

    <!-- Import external entities -->
    <xsd:include schemaLocation="DistributionServiceTypesV2.xsd"/>

    <!-- Elements used for messages in wsdl file -->
    <xsd:element name="FordelingsobjektModtagRequest" type="tns:FordelingsobjektModtagRequestType"/>
    <xsd:element name="FordelingsobjektModtagResponse" type="tns:FordelingsobjektModtagResponseType"/>
    <xsd:element name="FordelingskvitteringModtagAnvenderRequest"
                 type="tns:FordelingskvitteringModtagAnvenderRequestType"/>
    <xsd:element name="FordelingskvitteringModtagAnvenderResponse"
                 type="tns:FordelingskvitteringModtagAnvenderResponseType"/>
    <xsd:element name="TransportKvittering" type="tns:TransportkvitteringType"/>

    <xsd:complexType name="FordelingsobjektModtagRequestType">
        <xsd:sequence>
            <xsd:element name="anmodning" type="tns:anmodRequestType" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="FordelingsobjektModtagResponseType">
        <xsd:sequence>
            <xsd:element name="ForretningsKvittering" type="tns:ForretningskvitteringType" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="FordelingskvitteringModtagAnvenderRequestType">
        <xsd:sequence>
            <xsd:element name="Forretningskvittering" type="tns:ForretningskvitteringType" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="DistributionContext" type="tns:DistributionContextType" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="FordelingskvitteringModtagAnvenderResponseType"/>
</xsd:schema>
